
  @import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;1,300&display=swap');
  @import url('https://fonts.googleapis.com/css2?family=Exo:ital,wght@0,300;0,500;1,400&display=swap');

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  scroll-behavior: smooth;
}

.header {
  width: 100%;
  height: 60px;
  display: flex;
  align-items: center;

}

.logo img {
  width: 100px;
  height: 30px;
}

.logo {
  margin: 5px 0 5px 40px;
}

.nav-bar {
  margin: 0 0 0 250px;
  justify-content: space-around;
  align-items: center;
  line-height: 40px;
  align-content: center;
}

.nav-bar a {
  text-decoration: none;
  padding: 15px;
  align-items: center;
  align-content: center;
}
.nav-bar .home {
  background-color: #0b1d5d;
  color: #fff;
  height: 100%;
}

.icon {
  margin: 10px 0 0 400px;
}

.icon .git {
  border: 1px solid #0b1d5d;
  border-radius: 10px;
}

.icon .twit {
  border: 1px solid #0b1d5d;
  border-radius: 10px;
}
.icon .linked {
  border: 1px solid #0b1d5d;
  border-radius: 10px;
}

.footer {
  max-width: 100%;
  height: 500px;
  background: #030a22;
}
.footer-1 {
  width: 100%;
  height: 400px;
  background: #0b1d5e;
  flex-shrink: 0;
  display: grid;
  grid-template-columns: 2fr 1fr 1fr 2fr;
}
.picture img {
  width: 119px;
  position: relative;
  top: 123px;
  left: 110px;
}
.lorem {
  padding-top: 150px;
  font-family: 'Roboto', sans-serif;
}
.lorem h3 {
  margin-bottom: 10px;
  color: #fff;
  font-weight: 400;
  line-height: normal;
  font-size: 13px;
}
.lorem p {
  font-size: 14px;
  padding: 5px;
  color: white;
  font-weight: 200;
}
.icons {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  padding-bottom: 98px;
  gap: 12px;
  padding-right: 3%;
}
.icons-2 {
  height: 50px;
  width: 50px;
  background: white;
  border-radius: 50px;
  display: grid;
  place-items: center;
  transition: .5s;
  transform: translate(-50% -50%);
}
.icons-2 i::before{
  transform: scale(1.1);
  box-shadow: 0 0 15px #ffee10;
  z-index: -1;
}
.i:hover{
  box-shadow: 0 0 5px #ffee10;
  text-shadow: 0 0 5px #ffee10;
}
.icons i {
  font-size: 18px;
  color: #0b1d5d;
}
.footer-5 {
  font-family: 'Roboto', sans-serif;
  width: 100%;
  height: 100px;
  display: grid;
  place-items: center;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.2;
  color: #fff;
}
.footer-5 h5 {
  font-size: 14px;
  font-weight: 400;
}
/* about us page */

.about-us{
  width: 100%;
  height: 500px;
  background: linear-gradient(rgba(50, 36, 86, 0.9), rgba(61, 26, 175, 0.4)), url(image/bg3.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  
  
}
.about-us1{
  width: 395px;
  height: 158px;
  position: relative;
  left: 70%;
  top: 170px;
  background: transparent;
}
.about-us1 h2{
  font-size: 30px;
  color: #fff;
  font-weight: 700;
  line-height: 1.4;
  font-family: 'Exo', sans-serif;
  
}

.about-us2{
  width: 100%;
  height: 500px;
  background: #fff;
}
.about-con{
  display: flex;
}
.about-us2-1{
width: 50%;
height: 500px;
padding: 160px 0px 0px 150px;
}
.about-us2-1 h2{
  font-size: 30px;
  font-weight: 600;
  margin-bottom: 16px;
  color: #0b1d5d;
  font-family: 'Exo', sans-serif;
}
.about-us2-1 p{
  width: 487px;
  height: 100px;
  font-size: 20px;
  font-weight: 400;
  color: #000;
  font-family: 'Exo', sans-serif;
}
.about-us2-2{
  width: 50%;
  height: 500px;
  text-align: center;
padding-top: 100px;
}
.about-px img{
  width: 390px;
  height: 330px;
  object-fit: contain;
  border-radius: 1px;
  
}
/* about-us part3 */
.about3{
  width: 100%;
  height: 400px;
  background: white;
 
}
.about3-01{
  display: flex;
}
.about-px2{
  flex: 1;
  /* background: darkgoldenrod; */
  height: 400px;
  text-align: center;
  padding-top: 100px;
}
.about3-pic{
  align-items: center;
  height: 260px;
  
  
}
.about3-pic img{
  width: 300px;
  height: 250px;
}
.about3-3{
  flex: 1;
  padding: 160px 0px 0px 150px;
}
.about3-3 h2{
  font-size: 30px;
  color: #0b1d5d;
  font-weight: 600;
  margin-bottom: 16px;
  font-family: 'Exo', sans-serif;
  
}
.about3-3 p{
  width: 487px;
  font-size: 20px;
  font-weight: 400;
  height: 100px;
  color: #000;
  font-family: 'Exo', sans-serif;

 }
/* about-us section4 */
.st4{
  width: 100%;
  height: 400px;
  background: #0b1d5d;
}
.st4-001{
  display: flex;
  width: 100%;
}
.st4-1{
  flex: 1;
  padding: 160px 0px 0px 150px;
  color: #fff;
}
.st4-1 h2{
  font-size: 30px;
  font-weight: 600;
  margin-bottom: 16px;
  text-transform: capitalize;
  font-family: 'Exo', sans-serif;
}
.st4-1 p{
  width: 534px;
  height: 109px;
  font-weight: 400;
  font-family: 'Exo', sans-serif;
 
}
.st4-2{
  flex: 1;
  text-align: center;
  padding-top: 100px;
}
.st4 img{
  width: 369px;
}
/* sectionj5 */
.about5{
  width: 100%;
  height: 1000px;
  display: grid;
  place-items: center;
}
.about-5-1{
  width: 100%;
  height: 100px;
  background: white;
  display: flex;
  align-items: center;
  justify-content: center;
}
.about-5-1 h2{
  color: #0b1d5d;
  font-size: 30px;
  font-weight: 600;
  line-height: 1.2;
  font-family: 'Exo', sans-serif;
}
.wrapper{
  width: 80%;
  height: 750px;
  background: white;
  display: grid;
  grid-template-columns: 2fr 2fr 2fr;
  column-gap: 10px;
  row-gap: 10px;
  place-items: center;
  padding-left: 100px;
  padding-right: 100px;

}
.picture-5{
  width: 300px;
  height: 340px;
  background: #fff;
  border: 2px solid rgba(207, 214, 239, 0.5);
  overflow: hidden;
}
.picture-5 img{
  width: 299px;
  height: 230px;
  overflow: hidden;
  object-fit: cover;

}
.about5-2{
  width: inherit;
  display: inline-block;
  text-align: center;
  color: #0b1d5d;
  
}
.about5-2 h3{
  font-size: 20px;
  font-weight: 600;
  line-height: 1.2;
  margin-bottom: 10px;
  font-family: 'Roboto',sans-serif;
}
.about5-2 p{
  font-size: 16px;
  font-weight: 400;
  margin-bottom: 20px;
  font-family: 'Roboto', sans-serif;
}
.iconss-2{
  border:#030a22;
  padding: 10px;
}

/* services page */
.services-section{
    width: 100%;
    height: 400px;
    background: #0b1d5d;
   
}
.services-001{
  display: flex;
  justify-content: center;
}
.services-1{
flex: 1;

}
.services-1 p{
  color: hsl(0, 0%, 100%);
  font-size: 25px;
  align-items: center;
  font-family: 'Roboto',sans-serif;
  line-height: 1.5;
  width: 430px;
  padding: 150px 0px 0px 150px;
  
}
.services-2{
  flex: 1;
 /* background: #0b5d0b; */
}
.services-2 img{
  width: 250px;
  padding-top: 50px;
  margin-left: 100px;
}
.services-st2{
  width: 100%;
  height: 400px;
  display: flex;  
}
.st2-1{
  width: 60%;
  height: 400px;
  padding: 100px;
}
.st2-1 h3{
  font-family: 'Roboto',sans-serif;
  font-size: 20px;
  color: #0b1d5d;
  line-height: 1.2;
  margin-bottom: 8px;
  text-align: center;
  font-weight: 600;

}
.st2-1 img{
  width: 15px;
}
.st2-1 ul{
  list-style: none;
}
.st2-1 li{
  display: flex;
  flex-direction: row;
  list-style-type: lower-roman;
  padding: 15px;
}
.st2-1 p{
  font-family: 'Roboto',sans-serif;
  text-transform: capitalize;
  padding-left: 20px;
  color: #0b1d5d;
  line-height: 1.5;
  font-size: 20px;
  font-weight: 400;
}
.st2-22{
  padding: 160px 0px 0px 150px;

}
.st2-22 img{
  width: 200px;
}

/* services-four */

.services-four{
  width: 100%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  justify-content: center;
  gap: 60px 53px;
  padding: 60px 110px;
   /* background: rgb(243, 243, 239); */
}
.srv-4-1{
  max-width: 550px;
  height: 500px;
  background: rgba(11, 29, 93, 0.90);
  
}
.srv-4-1 img{
  width: 100%;
  height: 350px;
  object-fit: cover;
  border-radius: 10px 10px 0px 0px;
 
}
.srv-4-2{
  display: block;
  text-align: center;
  /* padding: 20px; */

}
.srv-4-2 h3{
  text-transform: capitalize;
  color: #fff;
  font-weight: 600;
  font-size: 16px;
  font-family: 'Roboto',sans-serif;
  margin: 25px 0 0 0;
}
.srv-4-2 button{
  padding: 4px 10px;
  border-radius: 10px;
  margin-top: 15px;
  border: 2px solid #0b1d5d;
  background: #fff;
  font-size: 12px;
  color: #0b1d5d;
  font-weight: 600;
}
/* part5 */
.part-5{
  width: 100%;
  height: 500px;
  background: rgb(238, 242, 241);
}
.part5-001{
  width: 100%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  
}


.part5-1{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
  background: #0b1d5d;
}
.share{
  
}
.share img{
  width: 200px;
  height: 200px;
  object-fit: cover;
}
.share1{
  padding: 0 15px;
  width: 200px;
 
}
.share1 h3{
  color: #fff;
  font-family: 'Roboto',sans-serif;
  font-size: 20px;
  margin-bottom: 10px;
  text-transform: capitalize;
  line-height: 1.2;
}
.share1 p{
  color: #fff;
  font-family: 'Roboto',sans-serif;
  font-size: 10px;
  line-height: 1.2;
}
.share1 button{
  background: white;
  width: 90px;
  height: 26px;
  border: none;
  text-transform: capitalize;
  color: #0b1d5d;
  font-family: 'Roboto',sans-serif; 
  font-weight: 700;
  font-size: 12px;
  margin: 30px 80px 0;
}
@media(max-width:768px){
  .about-us1{
    position: absolute;
    left: 8%;
    top: 60px;
  }
  .about-con{
    display: block;
    
  }
  .about-us2-1{
    padding: 0;
    display: block;
  }
  .about-us2-1 h2{
    font-size: 20px;
  }
  .about-us2-1 p{
    font-size: 16px;
    width: 350px;
    height: 0;
  }
}



